/* .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 15vh auto;
    padding: 15px;
    border: none;
    box-shadow: 0 0 15px rgb(180, 51, 73);
    }
    
    .bkground{
        width: 40%;
        margin: 15vh auto;
    }

    #name{
        margin-right: 290px;
    }
    h6.headingname{
        margin-right: 400px;
        top: 10px;

    }
    #lastname{
        margin-left: 310px;
        transform: translateY(-54px);
    }
    .headinlastgname{
        transform: translateY(-54px);
        margin-left: 200px;
    }
    
    #age{
        width: 100px;
        margin-right: 110px;
        transform: translateY(-50px);
        
    }
    .heaingage{

    transform: translateY(-50px);
    margin-right: 250px;
    }
    
    
    
    @media screen and (max-width:600px) {
        .container{
            width: 90%;
        }
    } */
   
    
    

    *{
        overflow: hidden;
        padding: 0%;
        box-sizing: border-box;
        margin: 0;
    }
    /* div .card{
        background-color: rgba(255, 255, 255, 0.521);
        border: 2px solid rgba(255, 255, 0, 0.726)
    }
    #name{
        letter-spacing: 2px;
        font-weight: 700;
        color:rgb(7, 7, 7) ;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: black;
        font-size: x-large;
        margin-bottom: -8px;
    }
    #inputbox{
    border-radius: 20px;
    border-bottom: 2px solid black ;
    margin-left: 20px;
    letter-spacing: 2px;
    padding-left: 5px;
    }
    #inputmessege{
        border-radius: 20px;
        border-bottom: 2px solid black ;
        padding: 15px;
    }
    .button{
        width: 100px;
        height: 30px;
        
    }  */
    
    
    
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin: 15vh auto;
        padding: 15px;
        border: none;
        box-shadow: 0 0 15px rgb(180, 51, 73);
        /* background-color: gray; */
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    
    input {
        width: 100%;
        margin: 5px 0;
        height: 35px;
        font-size: 17px;
        text-align: center;
        
       
    }
    
   
    input[type=submit]{
        margin: 10px auto;
        width: 120px;
        font-size: large;
        /* font-weight:400;
        color:black; */
        background-color: rgba(207, 111, 128);
        margin-right: 190px;
        border: none;
        outline: none;
       transform: translateY(-65px);
    }
    #clearBtn{
        width: 100px;
        margin-left:130px;
        transform: translateY(-110px);
        background-color: rgb(207, 111, 127);
        border: none;
       
    }
    #FirstNamelabel,#LastNamelabel{

        margin-right: 150px;
        
    }
    #agelabel{
        margin-right: 200px;
        
    }
    .age{
        width: 100px;
        margin-right: 135px;
        
    }
    #genderlabel{
        margin-left:50px;
        transform: translateY(-60px);
    }
    .gender{
        margin-left: 115px;
        transform: translateY(-62px);
        height: 35px;
        /* width: 80px; */
        
    }
    @media screen and (max-width:600px) {
        .container{
            width:90%;
            
        }
    }
    
  